<!doctype html>
<html lang="en" ng-app="udeHackathon" ng-controller="ProductCtrl">

<head>

    <title>{{ Page.title() }}</title>

    <!-- <link rel="stylesheet" href="/css/combined-gulp.min.css"> -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/combined-grunt.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="container" ng-view></div>

    <footer>
        <ul class="credits">
            <li>
                UDE Hackathon Code
            </li>
            <li><a href="https://github.com/jlengstorf/ude-hackathon">View Source on GitHub</a></li>
        </ul>
    </footer>

    <!-- JS Dependencies -->
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-route/angular-route.min.js"></script>

    <!-- App-Specific JS, combined and minified -->
    <script src="/js/combined-grunt.min.js"></script>

    <!-- 
    LiveReload JS
    TODO Remove for production
    -->
    <script src="http://localhost:35729/livereload.js?snipver=1"></script>

</body>

</html>
