    <h1>Product #{{ product.id }}</h1>
    <p class="back">
        <a href="/">&larr; Back to All Products</a>
    </p>
    <p>{{attiphone.name}}</p>

    <body>

    <!-- Page Content -->
    <div class="container">
        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <iframe width="750" height="500" frameborder="0" allowFullScreen webkitallowfullscreen mozallowfullscreen src="https://fusion360.autodesk.com/models/279a04f20aa23609d7691277794854fa/embed"></iframe>
            </div>

            <div class="col-md-4">
                <h3>Project Description</h3>
                <p>{{attiphone.longDescription}}</p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Other Views</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src={{attiphone.largeFrontImage}}>
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src={{attiphone.angleImage}}>
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src={{attiphone.backViewImage}}>
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src={{attiphone.leftViewImage}}>
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>
